body {
    background-color: rgb(58, 134, 210);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.485);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}